@page
@model Marvin.IDP.Pages.User.ActivationCodeSent.IndexModel
@{
    <h3 class="panel-title">User Registration</h3>
    <h3>You've successfully registered.  Check your e-mail to activate your account. </h3>
}